aws_region        = "us-east-1"

# Must be globally unique
state_bucket_name = "tfstate-bucket-824123790769"

repo_slug         = "rshutt/rshutt-exercise"

tf_ci_role_name   = "rshutt-exercise-tf-ci"
app_ci_role_name  = "rshutt-exercise-app-ci"

create_ecr_repo   = true
ecr_repo_name     = "demo-app"
