.pre-commit-cache/

# Python
.ruff_cache/
.venv/
__pycache__/
.pytest_cache/
*.egg-info/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate*
**/crash.log
**/*.tfvars

# MacOS
.DS_Store
